body {
    background-color: gray;
}

.btnblue {
    padding: 5px 10px;
    background-color: rgb(63, 116, 231);
    color: rgb(255, 255, 255);
}

.btnblue:hover {
    background-color: rgb(19, 88, 237);
}